cmd: 'unbuffer make kletch'
name: 'kletch-float'
cwd: '{PROJECT_PATH}/build/makef'
errorMatch: '\n[^/]*(?<file>[\\/0-9a-zA-Z\\._]+):(?<line>\\d+):(?<col>\\d+)'
targets:
  'cmake':
    cmd: 'unbuffer cmake {PROJECT_PATH}'
    cwd: '{PROJECT_PATH}/build/makef'
    keymap: 'shift-f5'
  'kletch-float-run':
    cmd: 'unbuffer make kletch && unbuffer ./kletch'
    cwd: '{PROJECT_PATH}/build/makef'
    keymap: 'f5'
    errorMatch: '\n[^/]*(?<file>[\\/0-9a-zA-Z\\._]+):(?<line>\\d+):(?<col>\\d+)'
