build/
buildf/
buildf_xcode/
debugf/
cb_buildf/
process-palette.json

# In case for some reason we are building in the project directory
kletch
kletch_test
gtest

glad

# C++
# ==============================================================================

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
# ==============================================================================

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# OS X
# ==============================================================================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two
.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
